/* SEARCH INPUT & STARS */
.search-container {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}
.search-container input {
  width: 60%;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
}
.search-container input:focus {
  outline: 0;
}
.search-btn {
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  padding: 8px 20px;
  margin-left: 10px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.search-btn:focus {
  outline: 0;
}
.star-rating {
  font-size: 24px;
  padding-left: 10px;
}
/* MOVIE CARD */
.Movie-Container {
  border: 1px solid rgba(211, 211, 211, 0.8);
  box-shadow: lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  overflow: hidden;

  margin: 30px 40px;
}
img {
  width: 250px;
  height: 375px;
}
.star-rating-movie {
  font-size: 24px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: 375px;
  padding: 0 10px;
}
.Movie-Title {
  font-size: 22px;
  margin: 0px 10px;
}
.Movie-Date-Release {
  font-size: small;
  margin: 10px 10px 10px 10px;
}
/* MOVIES LIST */
.Movie-List {
  display: flex;
  flex-wrap: wrap;
}
/* ADD BUTTON */
.Add-btn {
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  font-size: 300px;
  padding: 8px 20px;
  margin-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 250px;
  height: 500px;
}
.Add-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.Add-btn:focus {
  outline: 0;
}
/* ADD MOVIE MODAL */
form h1 {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
  margin-top: 10px;
}
form label {
  margin-top: 20px;
}
form input:focus {
  outline: 0;
}
.Modal-btn {
  border-radius: 5px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.Modal-btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.Modal-btn:focus {
  outline: 0;
}
/* SPINNER */
.Spinner {
  width: 70px;
  margin-left: 45%;
  z-index: 1;
}
